*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:linear-gradient(135deg,#0f172a,#2563eb);
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.contenedor{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.login{
    background:white;
    width:420px;
    padding:40px;
    border-radius:18px;
    box-shadow:0 15px 40px rgba(0,0,0,.25);
}

.login h1{
    text-align:center;
    color:#2563eb;
    margin-bottom:10px;
}

.login p{
    text-align:center;
    color:#666;
    margin-bottom:30px;
}

input{
    width:100%;
    padding:14px;
    margin-bottom:18px;
    border:1px solid #ccc;
    border-radius:10px;
    font-size:16px;
}

input:focus{
    border-color:#2563eb;
    outline:none;
}

button{
    width:100%;
    padding:15px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:10px;
    font-size:17px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#1d4ed8;
}s
.navbar{
    background:#0f172a;
    color:white;
    padding:18px 40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.navbar nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    font-weight:bold;
}

.dashboard{
    display:flex;
    justify-content:center;
    gap:30px;
    margin-top:60px;
}

.card{
    width:220px;
    background:white;
    border-radius:15px;
    padding:30px;
    text-align:center;
    box-shadow:0 10px 25px rgba(0,0,0,.2);
}

.card h3{
    font-size:40px;
    color:#2563eb;
}

.card p{
    margin-top:10px;
    color:#555;
}